<div class="user-profile">
  <div class="name text-center">
    <h1><%= @user.name %> さんの買い物カゴ</h1>
  </div>
</div>
<hr>
<% if current_user == @user %>
<div class="total_price text-center">
合計 : <%= jpy_comma(@user.total_price) %> 円
</div>

<h2>商品一覧</h2>
<div class="text-center">
<%= paginate @items %>
<%= render 'items/items', items: @items %>
<%= paginate @items %>
</div>
<h2>Chrome Extension</h2>
<div class="text-center">
  <h3>使い方</h3>
    <p>下記URLのChrome Extensionをダウンロード→Zipの展開
  →Chromeで拡張機能の読み込み（要　デベロッパーモード）。<br><br>
  このページを開いた状態で右上のアクションボタンを押すと、ユーザIDと”Registered”のアラートが表示される。<br><br>
  後は、追加したい商品のページを開いた状態で右上のアクションボタンを押すと買い物リストに追加されます。<br>
  </p>

  <p>EC Backet Chrome拡張機能 <a href="/ec_backet.zip">ダウンロード</a></p>
</div>

<h2>Privateの設定切り替え</h2>
<div class="text-center">
  <%= render 'users/private_button', user: @user %>
</div>
<h2>ユーザーの退会</h2>
<div class="text-center">
  <%= render 'users/delete_button', user: @user %>
</div>
<% else %>
  <% if @user.private %>
      <p>このユーザは、プライベートに設定されています。</p>
  <% else %>
  <div class="total_price text-center">
合計 : <%= jpy_comma(@user.total_price) %> 円
</div>

<h2>商品一覧</h2>
<div class="text-center">
<%= paginate @items %>
<%= render 'items/items', items: @items %>
<%= paginate @items %>
</div>
<% end %>
<% end %>