
<% if items %>
  <div class="row">
    <% items.each do |item| %>
     <div class="col-xs-12 col-sm-10 col-sm-offset-1">
         <% if item.id == @item_id %>
      <div class="panel panel-default new_added_item">
        <% else %>
      <div class="panel panel-default">
        <% end %>
          <div class="panel-body">
          <div class="row item_row">
            <div class="col-xs-1 col-sm-1 text-center">
              <%= render 'items/edit_button', item: item %>
              <%= render 'items/delete_button', item: item %>
            </div>
            <div class="col-xs-3 col-sm-2">
              <div class="item_img">
                <img src="<%= item.image_url %>" alt="<%= item.name %>の画像" class="img-responsive" >
              </div>
            </div>
            <div class="col-xs-7 col-sm-9">
              <div class="row item_row">
                <div class="col-xs-12 col-sm-8">
                  <div class="item_name">
                    <a href="<%= item.url %>" target="_blank"><%= item.name %></a>
                  </div>
                </div>
                <div class="col-xs-10 col-xs-offset-2 col-sm-3 col-sm-offset-1">
                  <div class="item_price">
                    <%= jpy_comma(item.price) %> 円
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
<% end %>